__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg
*.egg-info/

*.pt
.vscode/

setup_tpu.sh

.idea

logs/*
examples/*
viz/*
spelke_net/spelke_net/wandb/*
spelke_net/local_patch_quantizer/wandb/*

local_notebooks/*
wandb/*

out/*/*.json
output/
tmp/

gradio_demo/assets/*
*.pem

*.png
*.jpg
*.json
*.pth
*.pt
*.h5
*.ply

**/wandb/*

out/
flat_flow_eval_ranges/
scripts/archive
.env